/* 실제 컨텐츠를 포함하는 컨테이너 요소 */
.container {
    display: inline-block;
    vertical-align: middle;
    text-align: left; /* 컨텐츠의 가로 정렬을 왼쪽으로 */
}
table {border-collapse: collapse;}
td, th{padding: 5px; width: 250px;}
#userPagingDiv {
    text-align:center;
    margin-top: 10px;
    padding: 10px;
}
span {
    padding: 10px;
    width: 20px;
}
#pagingDiv span{text-decoration: none; padding:3px 10px; border-radius: 5px; margin: 0 10px;}
#currentPaging{background-color : #4CAF50; color:white;}
#paging:hover{background-color : #ddd; text-decoration:underline; cursor: pointer; }
span:Link{color: black; text-decoration: none;}
span:visited{color: black; text-decoration: none;}
span:hover{color: #4CAF50; text-decoration: underline;}
span:active{color: black; text-decoration: none;}

.idA.link{color: black; text-decoration: none;}
.idA.visited{color: black; text-decoration: none;}
.idA.hover{color: green; text-decoration: underline;}
.idA.active{color: black; text-decoration: none;}